@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  .header {
    max-width: 1270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    .logo {
      img {
        width: clamp(160px, 1vw, 237px);
      }
    }
    .navbar {
      font-family: Barlow;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: uppercase;
      color: #83888f;
      margin-left: auto;
    }
    .listBtn {
      width: 16px;
      display: block;
    }
  }

  .heroSection {
    .container {
      background-image: url("./About Image.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;
      padding: clamp(24px, 5vw, 85px);
      width: 100%;
      max-width: 1270px;
      min-height: 514px;
      display: flex;
      align-items: center;
      color: #fefcf7;
      .content {
        width: 445px;
        h2 {
          font-family: Fraunces;
          font-weight: 900;
          color: #fefcf7;
          font-size: 40px;
        }
        p {
          font-family: Barlow;
          font-weight: 400;
          color: #fefcf7;
          font-size: 16px;
        }
        @media screen and (max-width: 767px) {
          justify-content: center;
          text-align: center;
          width: 303px;
        }
      }
      @media screen and (min-width: 767px) and (max-width: 992px) {
        background-image: url(./Background-m.jpg);
        background-size: cover;
        background-position: center;
      }
      @media screen and (max-width: 767px) {
        background-image: url(./Background-s.jpg);
      }
    }
  }

  .section1 {
    padding-top: 140px;

    .container {
      max-width: 1110px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .imgBox img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: block;
        @media screen and (min-width: 767px) and (max-width: 992px) {
          background-image: url(./Commitment\ Image-m.png);
          width: 280px;
          height: 520px;
        }
        @media screen and (max-width: 767px) {
          background-image: url(./Commitment\ Image-s.png);
          margin-bottom: 48px;
        }
      }

      .textBox {
        max-width: 540px;
        height: 340px;

        h2 {
          display: block;
          width: 100%;
          font-family: Fraunces;
          font-weight: 900;
          font-size: 40px;
          color: #333d4b;
          padding-bottom: clamp(20px, 2vw, 32px);
        }
        p {
          font-family: Barlow;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          color: #333d4b;
        }
        @media screen and (min-width: 767px) and (max-width: 992px) {
          width: 376px;
          height: 444px;
          padding-left: 48px;
        }
        @media screen and (max-width: 767px) {
          text-align: center;
          padding-inline: 16px;
        }
      }

      @media screen and (min-width: 767px) and (max-width: 992px) {
        max-width: 704px;
        height: 520px;
      }
      @media screen and (max-width: 767px) {
        flex-direction: column;
        width: 100%;
      }
    }
  }

  .section2 {
    padding-top: 228px;
    .container {
      max-width: 1280px;
      min-height: 400px;
      padding-left: 80px;
      background-color: #333d4b;
      position: relative;

      .content {
        width: 540px;

        h2 {
          font-family: Fraunces;
          font-weight: 900;
          font-size: 40px;
          color: #fefcf7;
          padding-bottom: 32px;
        }
        p {
          font-family: Barlow;
          color: #fefcf7;
        }
        @media screen and (min-width: 767px) and (max-width: 992px) {
          width: 704px;
          height: 420px;
          justify-content: center;
          align-content: center;
          text-align: center;
          h2 {
            font-family: Fraunces;
            font-weight: 900;
            font-size: 32px;
            text-align: center;
            width: 540px;
            height: 45px;
            margin-bottom: 20px;
          }
          p {
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            text-align: center;
            width: 540px;
            height: 130px;
            color: #fefcf7;
          }
        }
        @media screen and (max-width: 767px) {
          width: 343px;
          height: 508px;

          h2 {
            font-family: Fraunces;
            font-weight: 900;
            font-size: 32px;
            text-align: center;
            color: #fefcf7;
            margin-top: 112px;
            display: flex;
            justify-content: center;
          }
          p {
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            text-align: center;
            color: #fefcf7;
            margin-top: 32px;
          }
        }
      }
      .img {
        width: 445px;
        height: 474px;
        position: absolute;
        right: 80px;
        top: -110px;
        background-image: url(./imag-l.jpg);
        background-size: cover;
        border-radius: 10px;
        @media screen and (min-width: 767px) and (max-width: 992px) {
          background-image: url(./coffee-m.jpg);
          display: flex;
          justify-content: center;
          background-position: center;
          align-items: center;
          width: 573px;
          height: 300px;
          top: -230px;
        }
        @media screen and (max-width: 767px) {
          background-image: url(./coffee-s.jpg);
          justify-content: center;
          background-position: center;
          width: 280px;
          height: 156px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (min-width: 767px) and (max-width: 992px) {
      margin-top: 96px;
    }
  }
  .section3 {
    .container {
   
      padding-top: 140px;
      max-width: 1045px;
      text-align: start;
      display: flex;
      flex-direction: column;

      .up {
        max-width: 1045px;
        width: 100%;
        height: 36px;
        margin-bottom: 64px;
        h3 {
          font-family: Fraunces;
          font-weight: 900;
          font-size: 24px;
          color: #83888f;
        }
      }
      .down {
        max-width: 1047px;
        width: 100%;
        height: 256.956;
        .d1 {
        
          width: 285px;
          height: 256.0717px;
          img {
            width: 40.84px;
            height: 49.071px;
            margin-bottom: 40px;
          }
          h2 {
            width: 285px;
            height: 36px;
            font-family: Fraunces;
            font-weight: 900;
            font-size: 32px;
            margin-bottom: 24px;
          }
          p {
            width: 285px;
            height: 107px;
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
          }
        }
        .d2 {
          flex-grow: 1;
          width: 149px;
          height: 256.956px;
          img {
            width: 51.55px;
            height: 49.956px;
            margin-bottom: 40px;
          }
          h2 {
            font-family: Fraunces;
            font-weight: 900;
            font-size: 32px;
            width: 122px;
            height: 36px;
            margin-bottom: 24px;
          }
          p {
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            width: 149px;
            height: 107px;
          }
        }
        .d3 {
    
          width: 153px;
          height: 250.93px;
          img {
            width: 48.967px;
            height: 43.939px;
            margin-bottom: 40px;
          }
          h2 {
            width: 153px;
            height: 36px;
            font-family: Fraunces;
            font-weight: 900;
            font-size: 32px;
            color: #333d4b;
            margin-bottom: 24px;
          }
          p {
            width: 135px;
            height: 107px;
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
          }
        }
        @media screen and (min-width: 767px) and (max-width: 992px) {
          width: 704px;
          height: 356.95px;
        }
        @media screen and (max-width: 767px) {
          align-items: center;
          text-align: center;
          flex-direction: column;
        }
      }
         @media screen and (max-width:767px) {
        text-align: center;
        display: block;
      }
    }
  }

  .footer {
    padding: 140px 0;

    .container {
      background-color: #333d4b;
      max-width: 1280px;
      width: 90%;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 241px;
      flex-grow: 1;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 40px 43px;
        gap: 0;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
      
        gap: 73.5px;
      }

      .logo {
        h3 {
          width: clamp(137.05px, 1vw, 203px);
          color: white;
          font-family: fraunces;
          margin: 0;
          padding: 0;
        }
      }
      .nav {
        width: clamp(257px, 4vw, 281px);
        display: flex;
        font-family: Barlow;
        color: #83888f;
        gap: clamp(20px, 5vw, 32px);
        flex-direction: row;
        font-size: 12px;

        @media screen and (max-width: 767px) {
          padding: 24px 0;
        }
      }
      .social {
        width: clamp(100px, 1vw, 120px);
      }
    }
  }
}
