@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .header {
    max-width: 100%;
    padding-inline: clamp(16px, 5vw, 85px);
    padding-top: clamp(24px, 4vw, 40px);

    .logo {
      img {
        width: clamp(160px, 1vw, 237px);
      }
    }
    .navbar {
      font-family: Barlow;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: uppercase;
      color: #83888f;
    }
    .listBtn {
      width: 16px;
      display: block;
    }
  }
}
.herosection {
  padding-top: 40px;
  .container {
    max-width: 1280px;
    width: 100%;
    height: 462px;
    background-image: url(./SubscribeImage-l.png);

    .content {
      max-width: 445px;
      height: 182px;
      margin-left: 80px;

      h1 {
        font-family: Fraunces;
        font-weight: 900;
        font-size: 72px;
        color: #fefcf7;
      }
      p {
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #fefcf7;
      }
    }
    @media screen and (min-width: 767px) and (max-width: 992px) {
      background-image: url(./Bitmap-m.jpg);
      background-size: cover;
      background-position: center;

      .content {
        margin-left: 48px;
      }
    }
    @media screen and (max-width: 767px) {
      background-image: url(./Bitmap=s.jpg);
      flex-direction: column;
      background-size: cover;
      background-position: center;
      align-items: center;
      justify-content: center;

      .content {
        max-width: 295px;
        text-align: center;
        margin: 0;
        h1 {
          font-size: 40px;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
