@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  max-width: 100%;
  padding: 40px 85px;
  @media screen and (max-width: 424px) {
    padding: 24px 16px;
  }
  @media screen and (min-width: 425px) and (max-width: 767px) {
    padding: 40px 32px;
  }
  .header {
    max-width: 100%;
    .logo {
      img {
        width: clamp(160px, 1vw, 237px);
      }
    }
    .navbar {
      font-family: Barlow;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: uppercase;
      color: #83888f;
    }
    .listBtn {
      width: 16px;
    }
  }
  .heroSection {
    padding-top: 40px;
    .container {
      width: 100%;
      max-height: 584px;
      height: 568px;
      min-height: 506px;
      .bgImage {
        background-image: url("./Hero Image.png");
        background-size: cover;
        background-position: 60% center;
        border-radius: 10px;
      }
      @media (min-width: 576px) {
        .bgImage {
          background-position: center;
        }
      }
      .main {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 90px 24px;

        h1 {
          font-family: "Fraunces", serif;
          font-weight: 900;
          line-height: 100%;
          color: #fefcf7;
        }
        p {
          font-family: "Barlow", sans-serif;
          font-weight: 400;
          line-height: 160%;
          color: #fefcf7;
          padding: 32px 0 48px 0;
        }
        button {
          padding: 16px 32px;
          border-radius: 6px;
          background-color: #0e8784;
          color: #fefcf7;
          border: 0;
        }
      }
      @media (min-width: 576px) {
        .main {
          background-color: transparent;
        }
      }
    }
  }
  .section2 {
    padding: 140px 80px;
    @media screen and (max-width: 992px) {
      padding: 80px 0px 80px 0px;
    }

    .down {
      @media screen and (max-width: 992px) {
        flex-direction: column;
      }

      .son {
        @media screen and (min-width: 767px) and (max-width: 992px) {
          flex-direction: row;
        }
        .text {
          @media screen and (min-width: 767px) and (max-width: 992) {
            display: flex;
            flex-direction: column;
          }
          h2 {
            padding: 48px 0px 24px 0px;
            color: #333d4b;
            font-family: Fraunces;
            font-weight: 900;
            line-height: 150%;
            letter-spacing: 0px;
            text-align: center;
          }
          p {
            font-family: Barlow;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0px;
            text-align: center;
            color: #333d4b;
          }
        }
      }
    }
  }
}
