@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  .header {
    max-width: 100%;
    padding-inline: clamp(16px, 5vw, 85px);
    padding-top: clamp(24px, 4vw, 40px);

    .logo {
      img {
        width: clamp(160px, 1vw, 237px);
      }
    }
    .navbar {
      font-family: Barlow;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: uppercase;
      color: #83888f;
    }
    .listBtn {
      width: 16px;
      display: block;
    }
  }
  .heroSection {
    padding-top: clamp(32px, 3vw, 40px);
    padding-inline: clamp(16px, 4vw, 85px);
    .container {
      width: 100%;
      max-height: 584px;
      height: 568px;
      min-height: 506px;
      .bgImage {
        background-image: url("./Hero Image.png");
        background-size: cover;
        background-position: 60% center;
        border-radius: 10px;
      }
      @media (min-width: 576px) {
        .bgImage {
          background-position: center;
        }
      }
      .main {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 90px 24px;

        h1 {
          font-family: "Fraunces", serif;
          font-weight: 900;
          line-height: 100%;
          color: #fefcf7;
        }
        p {
          font-family: "Barlow", sans-serif;
          font-weight: 400;
          line-height: 160%;
          color: #fefcf7;
          padding: 32px 0 48px 0;
        }
        button {
          padding: 16px 32px;
          border-radius: 6px;
          background-color: #0e8784;
          color: #fefcf7;
          border: 0;
        }
      }
      @media (min-width: 576px) {
        .main {
          background-color: transparent;
        }
      }
    }
  }
  .section2 {
    padding: 140px 80px;
    @media screen and (max-width: 992px) {
      padding: 80px 0px 80px 0px;
    }

    .down {
      transform: translateY(-40px);
      .son {
        .text {
          h2 {
            padding: 48px 0px 24px 0px;
            color: #333d4b;
            font-family: Fraunces;
            font-weight: 900;
            line-height: 150%;
            letter-spacing: 0px;
            text-align: center;
          }
          p {
            font-family: Barlow;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0px;
            text-align: center;
            color: #333d4b;
          }
        }
      }
    }
  }
  /* تنسيق السكشن الغامق */
  .section-bg-dark {
    background-color: #2c343e;
    border-radius: 10px;
    margin: 0 20px;
    padding-top: 80px;
    padding-bottom: 150px; /* مساحة داخلية عشان الكروت تاخد راحتها */
    position: relative;
  }

  .section-header {
    margin-bottom: 60px;
  }

  .display-title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .description {
    opacity: 0.8;
    line-height: 1.6;
  }

  /* تنسيق الكروت وحركتها للخارج */
  .cards-container {
    margin-bottom: -220px; /* سحب الكروت لأسفل خارج السكشن */
  }

  .coffee-card {
    background-color: #0e8784;
    padding: 45px 30px;
    border-radius: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .card-icon {
    width: 65px;
    margin-bottom: 30px;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  
  @media (max-width: 991px) {
    .section-bg-dark {
      padding-bottom: 250px;
    }
    .cards-container {
      margin-bottom: -350px;
    }
    .coffee-card {
      flex-direction: row; /* الأيقونة بجانب النص */
      text-align: left;
      padding: 35px;
    }
    .card-icon {
      margin-bottom: 0;
      margin-right: 25px;
      width: 50px;
    }
  }

  @media (max-width: 767px) {
    .coffee-card {
      flex-direction: column;
      text-align: center;
    }
    .card-icon {
      margin-bottom: 25px;
      margin-right: 0;
    }
  }
  .bottom-spacer {
    height: 200px;
  }
  @media (max-width: 991px) {
    .bottom-spacer {
      height: 380px;
    }
  }
  .section4 {
    width: 1110px;
    max-width: 100%;
    padding: 140px 85px;

    .content {
      img {
        width: 1047px;
        max-width: 90%;
        padding-bottom: 64px;
        @media screen and (max-width: 767px) {
          content: url(./img3.png);
          max-width: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          content: url(./img22.png);
          max-width: 95%;
        }
      }
    }
  }
  button {
    max-width: 218px;
    height: 57px;
    border-radius: 6px;
    padding: 16px 32px;
    color: #fefcf7;
    background-color: #0e8784;
    border: none;
    display: block;
    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .footer {
    padding: 40px 0;

    .container {
      background-color: #333d4b;
      max-width: 1280px;
      width: 90%;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 241px;
      flex-grow: 1;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 40px 43px;
        gap: 0;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        padding: 40px 40px 20px;
        gap: 73.5px;
      }

      .logo {
        h3 {
          width: clamp(137.05px, 1vw, 203px);
          color: white;
          font-family: fraunces;
          margin: 0;
          padding: 0;
        }
      }
      .nav {
        width: clamp(257px, 4vw, 281px);
        display: flex;
        font-family: Barlow;
        color: #83888f;
        gap: clamp(20px, 5vw, 32px);
        flex-direction: row;
        font-size: 12px;

        @media screen and (max-width: 767px) {
          padding: 24px 0;
        }
      }
      .social {
        width: clamp(100px, 1vw, 120px);
      
    
      }
    }
  }
}
